/* body{
    background-color: rgb(232, 220, 236);
}
.iamg{
    display: block;
    margin-left:550px;
    margin-right: auto;
    width: 50%;
    margin-top: 100px;
    /* height: 100px */
    /* align-items: center; */
} */